.all-posts-container {
    padding: 10px;
}

.post-container {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 3px;
    min-width: 100%;
    margin-bottom: 5px;
}

#new-post-text-area {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    border-radius: 3px;
    min-width: 100%;
    margin-bottom: 3px;
    
}

#follower-box {
    display: flex;
    margin-left: 10px;
}

#following {
    margin-right: 20px;
}

#next-page {
    display: none;
}

#previous-page {
    display: none;
}

.like-icon {
    color: red;
    margin-right: 5px;
    font-size: 20px;
}

.like-container {
    display: flex;
    align-items: center;
}

/* #profile-link:hover {
    text-decoration: none;
} */

/* Modal example from w3schools */

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    display: flex;
    flex-direction: row;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal example end */